html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}

.r3f {
  touch-action: none;
}

.content-embed {
  position: relative;
  background: white;
  border-radius: 37.5px;
  width: 1024px;
  height: 670px;
  overflow: scroll;
}
